<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxm.pwhelp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:name="com.lxm.pwhelp.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lxm.pwhelp.activity.UnlockGesturePasswordActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lxm.pwhelp.activity.CreateGesturePasswordActivity" />
        <activity android:name="com.lxm.pwhelp.activity.GuideGesturePasswordActivity" />
        <activity android:name="com.lxm.pwhelp.activity.MainActivity" />
        <activity android:name="com.lxm.pwhelp.activity.AddItemActivity" />
        <activity android:name="com.lxm.pwhelp.activity.DetailActivity" />
        <activity android:name="com.lxm.pwhelp.activity.SettingsActivity" />
        <activity android:name="com.lxm.pwhelp.activity.SetCommandActivity" />
        <activity android:name="com.lxm.pwhelp.activity.SetEmailActivity" />
        <activity android:name="com.lxm.pwhelp.activity.AddGroupActivity"/>
        <activity android:name="com.lxm.pwhelp.activity.EditItemActivity"/>
    </application>

</manifest>